.error-message {
  top: -10px;
  position: relative;
}

.warn {
  color: #FF3636;
  font-size: 14px;
  text-align: left;
  height: 16px;
  margin-top: -15px;
}

.reverse-first-name {
  font-size: 14px;
  text-align: left;
  height: 32px;
  margin-top: -15px;
}

.login-form {
  width: 100%;
}

.main-container {
  width: 50%;
  border: 2px solid #007e33;
}

.main {
  height: 100vh;
}

.asterik {
  color: red;
}

.submit-button {
  background-color: #007e33;
  color: white;
  width: 25%;
}

.button-wrapper {
  margin: 0 auto;
}
