<div
  class="d-flex flex-colunn justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="container-fluid main-container" style="width: 50%">
    <!-- <div class="row h-100"> -->
    <form
      [formGroup]="validatingForm"
      (ngSubmit)="onSubmit()"
      class="text-center border border-light login-form"
    >
      <p class="h4 mb-4 pt-2">Paperless Assignment</p>
      <div class="md-form md-outline">
        <input
          mdbInput
          mdbValidate
          type="text"
          id="firstName"
          class="form-control mb-4"
          formControlName="firstName"
        />
        <label for="firstName">First name<span style="color: red">*</span></label>
      </div>

      <div class="warn">
      <mdb-error
        class="form-field"
        *ngIf="firstNameInput?.errors?.required && firstNameInput?.touched"
        >First name required</mdb-error>
      </div>

      <div class="md-form md-outline">
        <input
          mdbInput
          mdbValidate
          type="email"
          id="email"
          class="form-control mb-4"
          formControlName="email"
        />
        <label for="email">Email <span style="color: red">*</span></label>
      </div>

      <div class="warn">

        <mdb-error
        class="form-field"
        *ngIf="emailInput?.errors?.required && emailInput?.touched"
        >Email required</mdb-error>
        <mdb-error
        class="form-field"
        *ngIf="emailInput?.errors?.email && emailInput?.touched"
        >Must be a valid email address</mdb-error>
      </div>

      <!-- Submit button -->
      <button
        mdbBtn
        style="background-color: #007e33; color: white; width: 25%;"
        block="true"
        class="my-4"
        type="submit"
        [disabled]="disabledSubmitButton || validatingForm.invalid"
      >
        Send
      </button>

      <!-- </div> -->
      <div class="reverse-first-name">
      <present-first-name
      [firstName]="reversedFirstNameInput"
    ></present-first-name>
    </div>
    </form>
  </div>
</div>
